body {
    
    
   background-color: rgb(118, 140, 147);
   text-align: center;
   font-size:  50px;;
  }

h1{
text-align: center;
font-family:cursive ;
color:whitesmoke;

}

p{
    text-align: center;
    font-family:cursive ;
    color: whitesmoke;
    font-size: larger;
}

p#number{
    padding: 3%;
    text-align: center;
    font-family:cursive ;
    color: whitesmoke;
    font-size: 70%;
}

/* button{
    white-space: nowrap;
    border: none;
    color: rgb(90, 89, 110);
    text-decoration: none;
    font-size: 16px;
    margin: 7px 20px;
    transition-duration: 0.4s;
    cursor: pointer; 
    width: 250px;
    height: 50px;
    padding-left: 20px;
    padding-right: 20px;
    display: inline-block;
    border-radius: 4px;
    background-color: #ffffff;
    color: #000000;
    text-align: center;
    font-size: 28px;
    box-shadow: 0 8px 16px 0 rgb(62, 59, 59), 0 6px 20px 0 rgba(0, 0, 0, 0.505);
} */

button:hover{
    background-color: rgb(207, 208, 215);
}
#list-container {
    margin-top: 20px;
    padding: 10px;
    border: 1px solid #ddd;
    display: none;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    padding: 8px;
    border-bottom: 1px solid #ddd;
}

/* #pop{
    white-space: nowrap;
   
    padding: auto;
    margin: 5%;
    width: 300px;
    box-shadow: 0 8px 16px 0 rgb(24, 24, 24), 0 6px 20px 0 rgba(0, 0, 0, 0.505);
    text-align: center;
} */
#text{
    width: 300px; 
    height: 20px; 
    font-size: 18px; 
    padding: 10px; 
   
    border-radius: 5px; 
  text-align: center;
    justify-content: space-between;
}
#list-container{
    text-align: center;
    display: flex;
    border-collapse: collapse;
    /* width: 100%; */
    padding: 8px; 
    background-color: rgba(245, 245, 220, 0.911);
    opacity: 0.3;
}
#input-list{
   
   text-align: left;
    border-collapse: collapse;
    width: 100%;
    padding: 8px;
    color: rgb(71, 73, 74);
    padding: 8px;
    font-size: 30px;
    height: 20px;
    width:300px ;
}
h3{
    color:  whitesmoke;
    font-family:cursive
}

h4{
    color: rgb(71, 73, 74);
    text-align: center;
    font-family:cursive;
}

#deleteBtn-{
    white-space: nowrap;
    border: none;
    color: rgb(90, 89, 110);
    text-decoration: none;
    font-size: 16px;
    margin:0;
    margin-left: 50px;
    transition-duration: 0.4s;
    cursor: pointer; 
    width: 100px;
    height: 50px;
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    border-radius: 4px;
    background-color: #ffffff;
    color: #000000;
    text-align: center;
    font-size: 28px;
    gap: 10px;
    box-shadow: 0 8px 16px 0 rgb(62, 59, 59), 0 6px 20px 0 rgba(0, 0, 0, 0.505);
}


input[type="checkbox" i] {
    margin: 7px 20px;
    position: relative;
    top: 15px;
    transform: scale(1.5); 

} 
 body {
    background: #c3bbbb;
    color: #000000;
    font-family: Lato, sans-serif;
  }
  .container {
    display: block;
    width: 400px;
    margin: 100px auto 0;
  }
  ul {
    margin: 0;
    padding: 0;
  }
  li * {
    float: left;
  }
  li, h3 {
    clear:both;
    list-style:none;
  }
  input, button {
    outline: none;
  }
  button {
    background: none;
    border: 0px;
    color: #5c5f60a0;
    font-size: 15px;
    width: 60px;
    margin: 10px 0 0;
    font-family: Lato, sans-serif;
    cursor: pointer;
  }
  button:hover {
    color: #333;
  }
 
 